@model IEnumerable<AURA.Models.PostOne>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="row">
    <div class="col-6">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="DownloadPostOneCommaSeperatedFile"><i class="fa fa-plus"></i>Export CSV</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OneZero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneStag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneAgen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnePart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTitl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OneZero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneStag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneAgen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnePart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTitl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
