@model IEnumerable<AURA.Models.PostOne>

@{
    ViewData["Title"] = "PostIndex";
}

@*OPS VIEW!!!*@

<h4>Post Index</h4>
<h5>OPS VIEW. CLICK <a asp-controller="Post" asp-action="PostIndex">HERE</a> FOR SALE SIDE VIEW</></h5>

<p>
    <a asp-action="OneCreate">NEW POST</a>
</p>
<form asp-controller="Post" asp-action="PostIndex" method="get">
    <p>
        Post ID/Stage/Party ID/Title : <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OneZero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneStag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneAgen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnePart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTitl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OneZero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneStag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneAgen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnePart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTitl)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.OneId">Edit</a> |*@
                    <a asp-controller="AgentClient" asp-action="PostDetail" asp-route-zero="@item.OneZero">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.OneId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
