@model AURA.Models.PostEig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EigDelete</title>
</head>
<body>

    <a asp-action="EigEdit" asp-route-id="@Model.EigId">Edit</a> |
    <a asp-action="PostDetail" asp-route-zero="@Model.EigZero">BACK TO DETAIL</a>
    <div>
        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EigZero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EigZero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EigDigit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EigDigit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EigAgen)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EigAgen)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EigRole)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EigRole)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EigLoad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EigLoad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EigNote)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EigNote)
            </dd>
        </dl>

        <form asp-action="EigDelete">
            <input type="hidden" asp-for="EigId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="PostDetail" asp-route-zero="@Model.EigZero">BACK TO DETAIL</a>
        </form>
    </div>
</body>
</html>
