@model AURA.ViewModels.PostDetailVM

@{
    ViewData["Title"] = "PostDetail";
}

<head>
    <style>
        table {
            background-color: lightblue;
        }

        tr {
        }

        .table td {
            padding: 0rem;
        }
        p {
            padding:0rem;
            margin-bottom:0rem;
        }
    </style>

</head>

<h1>@Model.OneZero</h1>

<div>
    <hr />
    <dl class="row">

        @*<dd class="col-sm-10">
                @Html.HiddenFor(model => model.OneId)
            </dd>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OneZero)
            </dd>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OneStag)
            </dd>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OneAgen)
            </dd>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OnePart)
            </dd>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OneTitl)
            </dd>*@

    </dl>
</div>

@*<div>
        <table>
            <tr>
                <td>@Html.DisplayFor(model => model.OneZero)</td>

                <td>@Html.DisplayFor(model => model.OneStag)</td>
                <td>@Html.DisplayFor(model => model.OneAgen)</td>
                <td>@Html.DisplayFor(model => model.OnePart)</td>
                <td>@Html.DisplayFor(model => model.OneTitl)</td>
            </tr>
        </table>
    </div>*@
<p>
    <span>

    </span>
    <span>
        @Html.DisplayFor(model => model.OneStag) | @Html.DisplayFor(model => model.OneAgen) | @Html.DisplayFor(model => model.OnePart)
    </span>

</p>
<p>
    @Html.DisplayFor(model => model.OneTitl)
</p>

<div>
    <a asp-action="OneEdit" asp-route-id="@Model.OneId" asp-route-zero="@Model.OneZero">Edit 1/</a> |
</div>

@*LIST OF THR*@
<hr />

<p>
    <span><b>TIMEFRAMES</b></span>
    <a asp-action="ThrCreate" asp-route-zero="@Model.OneZero">ADD 3/</a>
</p>
@foreach (var item in Model.PostThrs)
{
<p>
    <span><a asp-action="ThrEdit" asp-route-id="@item.ThrId">Edit</a></span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.ThrDigit)</span>.<nbsp> </nbsp>
    <span>@Html.DisplayFor(modelItem => item.ThrDate)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.ThrText)</span>
</p>

}


@*list of fou*@
<hr />
<p>
    <span><b>CONTACTS</b></span>
    <a asp-action="FouCreate" asp-route-zero="@Model.OneZero">ADD 4/</a>
</p>
@foreach (var item in Model.PostFous)
{
<p>
    <span><a asp-action="FouEdit" asp-route-id="@item.FouId">Edit</a></span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.FouDigit)</span>.<nbsp> </nbsp>
    <span>@Html.DisplayFor(modelItem => item.FouName)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.FouPhon)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.FouEmai)</span>
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>@Html.DisplayFor(modelItem => item.FouAddr)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.FouPost)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.FouOrg)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.FouNote)</span>
</p>
}

@*list of fiv*@
<hr />
<p>
    <span><b>REMARKS</b></span>
    <a asp-action="FivCreate" asp-route-zero="@Model.OneZero">ADD 5/</a>
</p>

@foreach (var item in Model.PostFivs)
{
    <p>
        <span><a asp-action="FivEdit" asp-route-id="@item.FivId">Edit</a></span><nbsp> </nbsp>|
        <span>@Html.DisplayFor(modelItem => item.FivDigit)</span>.<nbsp> </nbsp>
        <span>@Html.DisplayFor(modelItem => item.FivPrio)</span><nbsp> </nbsp>|
        <span>@Html.DisplayFor(modelItem => item.FivCode)</span><nbsp> </nbsp>|
        <span>@Html.DisplayFor(modelItem => item.FivText)</span>
    </p>
}

@*list of six*@
<hr />
<p>
    <span><b>PAYMENTS</b></span>
    <a asp-action="SixCreate" asp-route-zero="@Model.OneZero">ADD 6/</a>
</p>
@foreach (var item in Model.PostSixs)
{
<p>
    <span><a asp-action="SixEdit" asp-route-id="@item.SixId">Edit</a></span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SixDigit)</span>.<nbsp> </nbsp>
    <span>@Html.DisplayFor(modelItem => item.SixDate)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SixType)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SixAmou)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SixStat)</span><nbsp> </nbsp>|
</p>
}

@*list of sev*@
<hr />
<p>
    <span><b>ACCOUNTING</b></span>
    <a asp-action="SevCreate" asp-route-zero="@Model.OneZero">ADD 7/</a>
</p>

@foreach (var item in Model.PostSevs)
{
<p>
    <span><a asp-action="SevEdit" asp-route-id="@item.SevId">Edit</a></span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SevDigit)</span>.<nbsp> </nbsp>
    <span>@Html.DisplayFor(modelItem => item.SevInvo)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SevDate)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SevDesc)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SevAmou)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SevSign)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.SevNote)</span><nbsp> </nbsp>|
</p>
}


@*list of eig*@
<hr />
<p>
    <span><b>AGENTS</b></span>
    <a asp-action="EigCreate" asp-route-zero="@Model.OneZero">ADD 8/</a>
</p>

@foreach (var item in Model.PostEigs)
{
<p>
    <span><a asp-action="EigEdit" asp-route-id="@item.EigId">Edit</a></span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.EigDigit)</span>.<nbsp> </nbsp>
    <span>@Html.DisplayFor(modelItem => item.EigAgen)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.EigRole)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.EigLoad)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.EigNote)</span><nbsp> </nbsp>|
</p>
}


@*list of nin*@
<hr />
<p>
    <span><b>ATTACHMENTS</b></span>
    <a asp-action="NinCreate" asp-route-zero="@Model.OneZero">ADD 9/</a>
</p>

@foreach (var item in Model.PostNins)
{
<p>
    <span><a asp-action="NinEdit" asp-route-id="@item.NinId">Edit</a></span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.NinDigit)</span>.<nbsp> </nbsp>
    <span>@Html.DisplayFor(modelItem => item.NinCapt)</span><nbsp> </nbsp>|
    <span>@Html.DisplayFor(modelItem => item.NinNote)</span><nbsp> </nbsp>|
</p>
}

