@model AURA.ViewModels.PostDetailVM

@{
    ViewData["Title"] = "PostDetail";
}

<h1>PostDetail</h1>

<div>
    <h4>PostOne</h4>
    <hr />
    <dl class="row">

        <dd class="col-sm-10">
            @Html.HiddenFor(model => model.OneId)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneZero)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneStag)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneAgen)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnePart)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneTitl)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="OneEdit" asp-route-id="@Model.OneId" asp-route-zero="@Model.OneZero">Edit</a> |
</div>

@*LIST OF THR*@
<hr />

<p>
    <a asp-action="ThrCreate" asp-route-zero="@Model.OneZero">ADD 3/</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.PostThrs)
        {
        <tr>
            <td>
                <a asp-action="ThrEdit" asp-route-id="@item.ThrId">Edit</a> |
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ThrDigit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrText)
            </td>

        </tr>
        }
    </tbody>
</table>

@*list of fou*@
<hr />
<p>
    <a asp-action="FouCreate" asp-route-zero="@Model.OneZero">ADD 4/</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.PostFous)
        {
            <tr>
                <td>
                    <a asp-action="FouEdit" asp-route-id="@item.FouId">Edit</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouDigit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouPhon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouEmai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouAddr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouOrg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FouNote)
                </td>
            
        </tr>
        }
    </tbody>
</table>

@*list of fiv*@
<hr />
<p>
    <a asp-action="FivCreate" asp-route-zero="@Model.OneZero">ADD 5/</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.PostFivs)
        {
            <tr>
                <td>
                    <a asp-action="FivEdit" asp-route-id="@item.FivId">Edit</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FivDigit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FivPrio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FivCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FivText)
                </td>
                
            </tr>
        }
    </tbody>
</table>

@*list of six*@
<hr />
<p>
    <a asp-action="SixCreate" asp-route-zero="@Model.OneZero">ADD 6/</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.PostSixs)
        {
            <tr>
                <td>
                    <a asp-action="SixEdit" asp-route-id="@item.SixId">Edit</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixDigit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixDeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixAmou)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixStat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SixNote)
                </td>
                
            </tr>
        }
    </tbody>
</table>

@*list of sev*@
<hr />
<p>
    @*<a asp-action="SevCreate" asp-route-zero="@Model.OneZero" asp-route-stage="@Model.OneStag" asp-route-partyid="@Model.OnePart">ADD 7/</a>*@
    <a asp-action="SevProductList" asp-route-zero="@Model.OneZero" asp-route-stage="@Model.OneStag" asp-route-partyid="@Model.OnePart">ADD 7/</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.PostSevs)
        {
            <tr>
                <td>
                    <a asp-action="SevEdit" asp-route-id="@item.SevId">Edit</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevDigit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevInvo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevAmou)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevAc1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevAc2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevAcf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevSign)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevStage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevPart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevCust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevStat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevPaym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevRefe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevHidd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevChec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SevNote)
                </td>
            
            </tr>
        }
    </tbody>
</table>

@*list of eig*@
<hr />
<p>
    <a asp-action="EigCreate" asp-route-zero="@Model.OneZero">ADD 8/</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.PostEigs)
        {
            <tr>
                <td>
                    <a asp-action="EigEdit" asp-route-id="@item.EigId">Edit</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EigDigit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EigAgen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EigRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EigLoad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EigNote)
                </td>
                
            </tr>
        }
    </tbody>
</table>

@*list of nin*@
<hr />
<p>
    <a asp-action="NinCreate" asp-route-zero="@Model.OneZero">ADD 9/</a>
</p>
<table class="table">
    
    <tbody>
        @foreach (var item in Model.PostNins)
        {
            <tr>
                <td>
                    <a asp-action="NinEdit" asp-route-id="@item.NinId">Edit</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NinDigit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NinFile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NinCapt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NinNote)
                </td>
                
            </tr>
        }
    </tbody>
</table>