@model AURA.ViewModels.SevBuilderVM

@{
    ViewData["Title"] = "SevBuilder";
}

<h1>SevBuilder</h1>

<h4>PostSev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SevBuilder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SevZero" class="control-label"></label>
                <input asp-for="SevZero" class="form-control" readonly="readonly" value="@ViewBag.zero" />
                <span asp-validation-for="SevZero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SevDigit" class="control-label"></label>
                <input asp-for="SevDigit" class="form-control" readonly="readonly" value="0" />
                <span asp-validation-for="SevDigit" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SevDesc" class="control-label"></label>
                <input asp-for="SevDesc" class="form-control" />
                <span asp-validation-for="SevDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SevAmou" class="control-label"></label>
                <input asp-for="SevAmou" class="form-control" />
                <span asp-validation-for="SevAmou" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SevAc2" class="control-label"></label>
                <input asp-for="SevAc2" class="form-control" />
                <span asp-validation-for="SevAc2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SevAcf" class="control-label"></label>
                <input asp-for="SevAcf" class="form-control" />
                <span asp-validation-for="SevAcf" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="SevHidd" class="control-label"></label>
                <input asp-for="SevHidd" class="form-control" />
                <span asp-validation-for="SevHidd" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SevNote" class="control-label"></label>
                <input asp-for="SevNote" class="form-control" />
                <span asp-validation-for="SevNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    
    <tbody>
        @foreach (var item in Model.ProductLists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FractionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                
            </tr>
        }
    </tbody>
</table>