@model IEnumerable<AURA.Models.PostSev>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SevZero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevDigit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevInvo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevAmou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevAc1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevAc2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevAcf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevSign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevPart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevCust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevStat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevPaym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevRefe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevHidd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevChec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SevZero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevDigit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevInvo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevAmou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevAc1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevAc2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevAcf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevSign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevPart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevCust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevStat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevPaym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevRefe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevHidd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevChec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevNote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SevId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SevId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SevId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
