@model IEnumerable<AURA.Models.Agents>

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>
<p>
    <a asp-action="NewAgentSelf">New IC</a>
</p>
<p>
    <a asp-action="CreateAgent">Create New</a>
</p>
<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuraRole)
            </td>
            <td>
                <a asp-action="AgentDetail" asp-route-UserId="@item.UserId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
