@model IEnumerable<AURA.Models.PostFiv>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FivZero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FivDigit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FivPrio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FivCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FivText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FivZero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FivDigit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FivPrio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FivCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FivText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FivId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FivId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FivId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
