@model AURA.Models.PostFiv

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>

    <a asp-action="FivEdit" asp-route-id="@Model.FivId">Edit 5/</a> |
    <a asp-action="MSRDetail" asp-route-zero="@Model.FivZero">BACK TO MSR</a>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FivZero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FivZero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FivDigit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FivDigit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FivPrio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FivPrio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FivCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FivCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FivText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FivText)
            </dd>
        </dl>

        <form asp-action="FivDelete">
            <input type="hidden" asp-for="FivId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="MSRDetail" asp-route-zero="@Model.FivZero">BACK TO MSR</a>
        </form>
    </div>
</body>
</html>
