@model IEnumerable<AURA.Models.PostOne>

@{
    ViewData["Title"] = "MSR Index";
}

<h3>MSR Index</h3>

<p>
    <a asp-action="OneCreate">NEW MSR</a>|<a asp-controller="PriceTool" asp-action="Routing">PRICE MOVE</a>
</p>
<form asp-controller="MSR" asp-action="MSRIndex" method="get">
    <p>
        MSR ID/Stage/Party ID/Title : <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Detail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneZero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneStag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneAgen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnePart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTitl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="MSRDetail" asp-route-zero="@item.OneZero">Details</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneZero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneStag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneAgen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnePart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTitl)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.OneId">Edit</a> |*@
                    
                    @*<a asp-action="Delete" asp-route-id="@item.OneId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
