@model AURA.Models.PostThr

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostThr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrZero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrZero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrDigit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrDigit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ThrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
