@model IEnumerable<AURA.Models.PostThr>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThrZero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThrDigit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThrDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThrTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThrEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThrText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThrZero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrDigit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThrText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
